body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    overflow-x: hidden;
  }

  #sidebar {
    height: 100vh;
    width: 250px;
    position: fixed;
    top: 0;
    left: -200px;
    background-color: #006699;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    color: white;
    z-index: 2; /* 保证遮罩在页面上方 */
  }

  #sidebar a {
    padding: 15px 10px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
    transition: 0.3s;
  }

  #sidebar a:hover {
    background-color: #3366CC;
  }

  #main {
    padding: 30px;
    padding-left: 80px;
  }

  #global-blur {
  background-color: rgba(255, 255, 255, 0);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(8px); /* 模糊度可以根据需要调整 */
  transition: display;
  z-index: 1; /* 保证遮罩在页面上方 */
  pointer-events: none; /* 确保遮罩不影响下方元素的交互 */
  opacity: 0;
  transition: opacity 0.3s ease
  }