<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <title>创建密钥</title>
    <style>
        body {
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            background-color: #f7f7f7;
            padding: 20px;
        }

        .container {
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
    </style>
</head>

<body>
    <div class="container">
        <h2>创建单个密钥</h2>
        <form method="post">
            <span>密钥</span>
            <input name="key" required>
            <span>配额</span>
            <input name="quota" required>
            <button type="submit">创建</button>
        </form>
    </div>
    <hr>
    <div class="container">
        <h2>批量创建密钥</h2>
        <form method="post">
            <input type="radio" id="type" name="type" value="uuid" checked="true">
            <label for="type">使用UUID</label><br>
            <span>个数</span>
            <input name="number" required>
            <span>配额</span>
            <input name="quota" required>
            <button type="submit">批量创建</button>
        </form>
    </div>
    {% if resq != "null" %}
    <hr>
    <div class="container">
        <h2>执行结果</h2>
        {% for i in resq %}
        <h4>{{ i }}</h4>
        {% endfor %}
    </div>
    {% endif %}
    <script>

    </script>
</body>

</html>